
.background{
    height: 100vh;
    background-color: #000b28;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

h1{
    color: white;
    font-size: 100px;
    text-align: center;
    font-family:'Francais';
    text-transform: uppercase;
}

.slider{
    margin-left: 20%;
    margin-top: 150px;
    font-size: 0;
    width: 60%;
    height: 550px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-radius: 1rem;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.slides{
    width: 1000%;
    position: relative;
    float: left;
    animation: slider 25s infinite;
}

.slide{
    width: 10%;
    height: 550px;
}

@keyframes slider {
    0%{
        left:0%;
    }
    20%{
       left:-100%;
    }
    40%{
        left:-200%;
    }
    60%{
        left:-300%;
    }
    80%{
        left:-400%;
    }
    100%{
        left:0%;
    }
}

.espace{
    height: 70px;
    background-color: #24262a;
    width: 100%;
}