*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "American";
    src: url("../font/AmericanCaptain-MdEY.otf");
}

body{
    font-family: "American";
    font-size: 187.5%;
    letter-spacing: 4px;
}

.vertical_navbar{
    background-color: black;
    width: 14%;
    height: 90vh;
    margin-top: 5vh;
    border-radius: 0 80px 80px 0;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.map{
    color:white;
    margin-top: 25%;
}

.carte, .carte1{
    margin-top: 5%;
    text-decoration: none;
    color: white;
}

.carte:hover{
    color: orange;
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.carte:not(:hover){
    transition: all 0.5s ease;
}

.carte1:hover{
    color: rgb(46, 46, 228);
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.carte1:not(:hover){
    transition: all 0.5s ease;
}

.bouton{
    color: white;
    text-decoration: none;
}

li{
    margin-top: 30%;
}

ul{
    margin-top: 100%;
}

.background{
    background-color: #000b28;
    width: 100%;
    height: auto;
    color: white;
}

.maps{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    flex-direction: column;
}

.containerr{
    width: 60%;

}

.img{
    margin-top: 5%;
    width: 100%;
    margin-left: 33%;
}

.titre{
    margin-top: 10%;
}

.footer {
    width: 100%;
    height: 5vh;
    background-color: #000b28;
}